<!-- import polymer-element -->
<link rel="import"  href="../../bower_components/polymer/polymer-element.html">

<dom-module id="x-tabs-item">

	<template strip-whitespace>
		<style>
		:host {
			display: inherit;
			contain: content;
		}
		</style>
		
		<slot></slot>
	</template>

	<script>
	class XTabsItem extends Polymer.Element {
		static get is() {
			return "x-tabs-item";
		}

		constructor() {
			super();
		}
		
		ready() {
			super.ready();
		}
		
		connectedCallback() {
			super.connectedCallback();
		}

		disconnectedCallback() {
			super.disconnectedCallback();
		}
		
		static get properties() {
			return {
				label : {
					type : String,
					reflectToAttribute : true,
					notify : true
				},
				selected : {
					type : Boolean,
					value : false,
					reflectToAttribute : true,
					notify : true
				},
				name : {
					type : String,
					computed : "_getName(label)"
				},
				refid : {
					type : String,
					value : XTabsItem._genUUID,
					reflectToAttribute : true,
					readOnly : true
				}
			};
		}
		
		_getName(label) {
			return label.trim().toLowerCase();
		}
		
		static _genUUID() {
			let d = new Date().getTime();
			let uuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace( /[xy]/g, c => {
				let r = (d + Math.random()*16)%16 | 0;
				return (c=="x" ? r : (r&0x3|0x8)).toString(16);
			});
			return uuid;
		}
	}

	customElements.define(XTabsItem.is, XTabsItem);
	</script>

</dom-module>