<!-- import polymer-element -->
<link rel="import"  href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/flattened-nodes-observer.html">

<link rel="import" href="./x-tabs-item.html">
<link rel="import" href="./x-tabs-tab.html">

<dom-module id="x-tabs">

	<template strip-whitespace>
		<style>
		:host {
			display: block;
			contain: content;
			
			--tab-background: lightgray;
			--tab-color: back;
			
			--content-padding: 0px 10px;
			--content-border: 1px solid black;
		}
		
		#tabs {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: nowrap;
		}
		
		#tabs > * {
			box-sizing: border-box;
			cursor: pointer;
			padding: 10px;
			border: 1px solid black;
			border-radius: 2px;
			min-width: 60px;
			
			background: var(--tab-background);
			color: var(--tab-color);
		}
		
		#tabs > :not([order='0']) {
			margin-left: 2px;
		}
		
		#tabs > [selected] {
			filter: contrast(130%) brightness(110%) saturate(120%) drop-shadow(0px 0px 2px gray);
			cursor: default;
		}
		
		#items {
			box-sizing: border-box;
			margin-top: 6px;
			border-radius: 2px;
			
			padding: var(--content-padding);
			border: var(--content-border);
		}
		
		#items ::slotted(*) {
			display: none;
		}
		
		#items ::slotted([selected]) {
			display: block;
		}
		</style>
		
		<div id="container">
			<div id="tabs">
			</div>
			<div id="items">
				<slot id="slot"></slot>
			</div>
		</div>
	</template>

	<script>
	class XTabs extends Polymer.Element {
		static get is() {
			return "x-tabs";
		}

		constructor() {
			super();
		}
		
		ready() {
			super.ready();
		}
		
		connectedCallback() {
			super.connectedCallback();
			
			this._observerChildNode = new Polymer.FlattenedNodesObserver( this, info => {
				this._removeInvalidChildren(info.addedNodes);
				this._handleAddedChildren(info.addedNodes);
				this._handleRemovedChildren(info.removedNodes);
				
				this._recalcTabOrder();
			});
		}

		disconnectedCallback() {
			super.disconnectedCallback();
			this._observerChildNode.disconnect();
		}
	
		
		_removeInvalidChildren(nodes) {
			nodes
				.filter( item => item.localName !== XTabsItem.is )
				.forEach( item => item.remove() );
		}
		
		_recalcTabOrder() {
			for (let tab of this.$.tabs.children) {
				let item = this.querySelector(`[ref='${tab.ref}']`);
				let order = Array.prototype.indexOf.call(this.$.slot.assignedNodes(), item);
				tab.order = order;
			}
		}
		
		_handleAddedChildren(nodes) {
			nodes = nodes.filter( item => item.localName === XTabsItem.is );
			
			nodes
				.forEach( (item,index) => {
					item.addEventListener( "label-changed", e => this._onChangeTabLabel(e.target) );
					item.addEventListener( "selected-changed", e => this._onChangeSelectedItem(e.target) );
					this._createTab(item.label, item.ref, item.selected);
				});

			
			nodes //garante que só o primeiro item selected vai ficar marcado
				.filter( item => item.selected )
				.forEach( (item, index) => item.selected = index === 0 );
		}
		
		_handleRemovedChildren(nodes) {
			nodes
				.filter( item => item.localName === XTabsItem.is )
				.forEach( item => {
					this.$.tabs.querySelector(`[ref='${item.ref}']`).remove();
				});
		}
		
		_createTab(label, ref, selected) {
			let tab = document.createElement("x-tabs-tab");
			tab.label = label;
			tab.selected = selected;
			tab.ref = ref;
			
			tab.addEventListener( "click", e => {
				let item = this.querySelector("[selected]");
				item.selected = false;
				
				let selectedTab = e.target;
				item = this.querySelector(`[ref='${selectedTab.ref}']`);
				item.selected = true;
			});
			
			this.$.tabs.appendChild(tab);
		}
		
		_onChangeTabLabel(item) {
			let tab = this.$.tabs.querySelector(`[ref='${item.ref}']`);
			if (tab) {
				tab.innerText = item.label;
			}
		}
		
		_onChangeSelectedItem(item) {
			let tab = this.$.tabs.querySelector(`[ref='${item.ref}']`);
			tab.selected = item.selected;
		}
	}

	customElements.define(XTabs.is, XTabs);
	</script>

</dom-module>