<!-- import polymer-element -->
<link rel="import"  href="../../bower_components/polymer/polymer-element.html">

<dom-module id="x-tabs-tab">

	<template strip-whitespace>
		<style>
		:host {
			display: inherit;
			contain: content;
		}
		
		label {
			margin: auto;
			cursor: inherit;
			
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		</style>
		
		<label>[[label]]</label>
	</template>

	<script>
	class XTabsTab extends Polymer.Element {
		static get is() {
			return "x-tabs-tab";
		}

		constructor() {
			super();
		}
		
		ready() {
			super.ready();
		}
		
		connectedCallback() {
			super.connectedCallback();
		}

		disconnectedCallback() {
			super.disconnectedCallback();
		}
		
		static get properties() {
			return {
				label : {
					type : String,
					reflectToAttribute : true
				},
				selected : {
					type : Boolean,
					reflectToAttribute : true
				},
				ref : {
					type : String,
					reflectToAttribute : true
				},
				order : {
					type : Number,
					reflectToAttribute : true,
					observer : "_onOrderChange"
				}
			};
		}
		
		_onOrderChange(order) {
			this.style.order = order;
		}
	}

	customElements.define(XTabsTab.is, XTabsTab);
	</script>

</dom-module>