<!-- import polymer-element -->
<link rel="import"  href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/flattened-nodes-observer.html">

<link rel="import" href="./x-tabs-item.html">
<link rel="import" href="./x-tabs-tab.html">

<dom-module id="x-tabs">

	<template strip-whitespace>
		<style>
		:host {
			display: flex;
			flex-direction: column;
			contain: content;
			
			--tab-width: auto;
			--tab-spacing: .2em;
			--tab-padding: .8em;
			--tab-radius: 6px;
			
			--tab-border-color: #c5c5c5;
			--tab-background: #f3f3f3;
			--tab-color: #454545;
			
			--tab-selected-intensity: 110%;
			--tab-selected-color: #454545;
			
			--content-padding: 4px 10px;
			--content-border: 1px solid #c5c5c5;
			--content-radius: 2px;
		}
		
		#container {
			display: flex;
    		flex-direction: column;
	    	justify-content: flex-start;
	    	align-items: flex-start;
			height: 100%;
		}
		
		#container > * {
			box-sizing: border-box;
			width: 100%;
		}
		
		#tabs {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: nowrap;
			flex-shrink: 0; /*preserve margin between tabs and items*/
		}
		
		#tabs > * {
			box-sizing: border-box;
			cursor: pointer;
			overflow-x: hidden;
			box-shadow: inset 0px -2px 6px rgba(140,140,140,.3);
			
			width: var(--tab-width);
			padding: var(--tab-padding);
			border-radius: var(--tab-radius) var(--tab-radius) 0px 0px;
			border: 1px solid var(--tab-border-color);
			border-bottom: none;
			background: var(--tab-background);
			color: var(--tab-color);
		}
		
		#tabs > :not([order='0']) {
			margin-left: var(--tab-spacing);
		}
		
		#tabs > [selected] {
			cursor: default;
			color: var(--tab-selected-color);
			filter: brightness(var(--tab-selected-intensity));
			box-shadow: inset 0px -2px 6px rgba(140,140,140,.3), 0px 2px 6px rgba(140,140,140,.3);
		}
		
		#tabs > :not([selected]):hover {
			filter: brightness(98%);
		}
		
		#items {
			overflow-y: auto;
			flex-grow: 1; /* stretches to bottom */
			
			padding: var(--content-padding);
			border: var(--content-border);
			border-radius: 0px 0px var(--content-radius) var(--content-radius);
		}
		
		#items ::slotted(*) {
			display: none;
		}
		
		#items ::slotted([selected]) {
			display: block;
		}
		</style>
		
		<div id="container">
			<div id="tabs">
			</div>
			<div id="items">
				<slot id="slot"></slot>
			</div>
		</div>
	</template>

	<script>
	class XTabs extends Polymer.Element {
		static get is() {
			return "x-tabs";
		}

		constructor() {
			super();
		}
		
		ready() {
			super.ready();
			this._selectDefault();
		}
		
		connectedCallback() {
			super.connectedCallback();
			
			this._observerChildNode = new Polymer.FlattenedNodesObserver( this, info => {
				this._removeInvalidChildren(info.addedNodes);
				this._handleAddedChildren(info.addedNodes);
				this._handleRemovedChildren(info.removedNodes);
				
				this._recalcTabOrder();
			});
		}

		disconnectedCallback() {
			super.disconnectedCallback();
			this._observerChildNode.disconnect();
		}
		
		
		_selectDefault() {
			if (this.childElementCount === 0) return;
			
			let selectedItem = Array.from(this.children).find(item => item.selected);
			if (!selectedItem) {
				this.children[0].selected = true;
			}
		}
		
		_removeInvalidChildren(nodes) {
			nodes
				.filter( item => item.localName !== XTabsItem.is )
				.forEach( item => item.remove() );
		}
		
		_recalcTabOrder() {
			for (let tab of this.$.tabs.children) {
				let item = this.querySelector(`[refid='${tab.refid}']`);
				let order = this.$.slot.assignedNodes().indexOf(item);
				tab.order = order;
			}
		}
		
		_handleAddedChildren(nodes) {
			nodes = nodes.filter( item => item.localName === XTabsItem.is );
			
			nodes
				.forEach( (item,index) => {
					item.addEventListener( "label-changed", e => this._onChangeTabLabel(e.target) );
					item.addEventListener( "selected-changed", e => this._onChangeSelectedItem(e.target) );
					this._createTab(item.label, item.refid, item.selected);
				});
			
			nodes //makes sure only the first selected item will remain selected
				.filter( item => item.selected )
				.forEach( (item, index) => item.selected = index === 0 );
		}
		
		_handleRemovedChildren(nodes) {
			nodes
				.filter( item => item.localName === XTabsItem.is )
				.forEach( item => {
					this.$.tabs.querySelector(`[refid='${item.refid}']`).remove();
				});
		}
		
		_createTab(label, refid, selected) {
			let tab = document.createElement("x-tabs-tab");
			tab.label = label;
			tab.selected = selected;
			tab.refid = refid;
			
			tab.addEventListener("click", e => {
				let item = this.querySelector("[selected]");
				item.selected = false;
				
				let selectedTab = e.target;
				item = this.querySelector(`[refid='${selectedTab.refid}']`);
				item.selected = true;
			});
			
			this.$.tabs.appendChild(tab);
		}
		
		_onChangeTabLabel(item) {
			let tab = this.$.tabs.querySelector(`[refid='${item.refid}']`);
			if (tab) {
				tab.innerText = item.label;
			}
		}
		
		_onChangeSelectedItem(item) {
			let tab = this.$.tabs.querySelector(`[refid='${item.refid}']`);
			tab.selected = item.selected;
		}
		
		
		get length() {
			return this.childElementCount;
		}
		
		add(...jsons) {
			return jsons
				.filter(json => json && typeof(json) === "object" && json.label)
				.map(json => {
					let item = document.createElement("x-tabs-item");
					item.label = json.label;
					if (json.name) {
						item.name = json.name;
					}
					if (json.nodes) {
						let nodes = typeof json.nodes !== "string" && typeof json.nodes[Symbol.iterator] === "function" ? json.nodes : [json.nodes];
						nodes.forEach(node => item.append(node));
					}
					
					this.appendChild(item);
					
					return this.childElementCount-1;
				});
		}
		
		remove(...indexesOrNames) {
			let indexes = [];
			let names = [];
			
			indexesOrNames.forEach(indexOrName => {
				if (typeof indexOrName === "number") indexes.push(indexOrName);
				else if (typeof indexOrName === "string") names.push(indexOrName);
			});
			
			this.removeByIndex(...indexes);
			this.removeByName(...names);
		}
		
		removeByIndex(...indexes) {
			indexes = Array.from(
				indexes
					.filter(index => Number.isInteger(index))
					.map(index => index < 0 ? this.childElementCount+index : index)
					.filter(index => index < this.childElementCount)
					.reduce((set, index) => set.add(index), new Set())
			)
			.sort((a,b) => b-a);
			
			indexes.forEach(index => {
				let item = this.children[index];
				if (item.selected) {
					let next = this.children[(index+1)%this.childElementCount];
					if (next) {
						next.selected = true;
					}
				}
				item.remove();
			});
		}
		
		removeByName(...names) {
			let items = Array.from(this.children);
			
			let indexes = names
				.filter(name => typeof name === "string")
				.map(name => items.findIndex(item => item.name === name))
				.filter(index => index >= 0);
			
			this.removeByIndex(...indexes);
		}
		
		
		select(indexOrName) {
			if (typeof indexOrName === "number") {
				return this.selectByIndex(indexOrName);
			}
			
			if (typeof indexOrName === "string") {
				return this.selectByName(indexOrName);
			}
			
			return false;
		}
		
		selectByIndex(index) {
			if (!Number.isInteger(index)) return false;
			
			index = index < 0 ? this.childElementCount+index : index;
			
			if (index >= this.childElementCount) return false;
			
			let currentlySelected = this.querySelector("[selected]");
			let newlySelected = this.children[index];
			
			if (currentlySelected !== newlySelected)  {
				currentlySelected.selected = false;
				newlySelected.selected = true;
				return true;
			}
			
			return false;
		}
		
		selectByName(name) {
			if (typeof name !== "string" || name.trim() === "") return false;
			
			name = name.trim();
			
			let newlySelected = Array.prototype.find.call(this.children, item => item.name === name);
			
			if (newlySelected == null) return false;
						
			let currentlySelected = this.querySelector("[selected]");
			if (currentlySelected !== newlySelected)  {
				currentlySelected.selected = false;
				newlySelected.selected = true;
				return true;
			}
			
			return false;
		}
	}

	customElements.define(XTabs.is, XTabs);
	</script>

</dom-module>