<!-- import polymer-element -->
<link rel="import"  href="../../bower_components/polymer/polymer-element.html">

<dom-module id="x-scroll">

	<template strip-whitespace>
		<style>
		:host {
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			align-items: stretch;
		}
		
		#content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			align-items: stretch;
			word-wrap: break-word; /* prevents layout from breaking when words are long */
			overflow-y: auto;
		}
		</style>
		
		<slot name="header"></slot>
		<div id="content">
			<slot></slot>
		</div>
		<slot name="footer"></slot>
	</template>

	<script>
	class XScroll extends Polymer.Element {
		static get is() {
			return "x-scroll";
		}

		constructor() {
			super();
		}
		
		ready() {
			super.ready();
		}
		
		connectedCallback() {
			super.connectedCallback();
		}

		disconnectedCallback() {
			super.disconnectedCallback();
		}
	}

	customElements.define(XScroll.is, XScroll);
	</script>

</dom-module>